
    ul
	{
	list-style-type: none;
	padding: 0px;
	margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
	}
	.form-label{
        width:150px !important;
    }
    .form-label-left{
        width:150px !important;
    }
    .form-line{
    	background-image:none;
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:150px !important;
    }
    .form-all{
        width:400px;
        background:url(http://jotformeu.com/images/noises/noise.png) rgb(207, 204, 200);
        color:rgb(82, 75, 58) !important;
        font-family:'Tahoma';
        font-size:13px;
        box-shadow:  0px -8px 60px -40px #fff;
        border-radius: 12px;
        border: 1px solid #b8b8b6;
    }

    #menu{
        width:400px;
        background:url(http://jotformeu.com/images/noises/noise.png) rgb(207, 204, 200);
        color:rgb(82, 75, 58) !important;
        font-family:'Tahoma';
        font-size:13px;
        box-shadow:  0px -8px 60px -40px #fff;
        border-radius: 1px;
        border: 1px solid #b8b8b6;
        float:left;
    }
    .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
        color:#555;
    }

   /*
    .botton {background-image: "Styling/button.png";
        */
.form-submit-button1 {
 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #555;
    padding: 4px 14px;
   background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        #FFF5E6 10%,
        #FFD699 20%,
        #FFB84D 50%,
        #ff9900);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#ffffff),
        color-stop(0.10, #FFF5E6),
        color-stop(0.25, #FFD699),
        color-stop(0.50, #FFB84D),
        to(#ff9900));
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #b8b8b6;
    -moz-box-shadow:
        0px 1px 3px rgba(0,0,0,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(0,0,0,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(0,0,0,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,0.4);
}

.form-submit-button {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #d4d2d4;
    padding: 4px 14px;
    background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        #d95f5f 50%,
        #cf3636 50%,
        #ff0505 75%,
        #ff0000);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#ffffff),
        color-stop(0.50, #d95f5f),
        color-stop(0.50, #cf3636),
        color-stop(0.75, #ff0505),
        to(#ff0000));
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #b8b8b6;
    -moz-box-shadow:
        0px 1px 3px rgba(0,0,0,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(0,0,0,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(0,0,0,0.5),
        inset 0px 0px 2px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,0.4);
}   
   
html
    {
        background-color:#3B3B3B; 
        color:#A4A4A4; 
        padding:2px; 
        margin:10px; 
        font:13px/17px sans-serif;
    }
Verdana, Arial, Helvetica, sans-serif

hr
    {
        color: #000;
    }

.div    {
    margin-top: 15px;
    padding-top: 15px;
    margin-right:auto;
    margin-left:auto;
    width: 98%;
    margin-left:-10px;
    padding-left: -2px;
    max-width: 100%;
    border-left-width: 100%;
    border-right-width: 100%;
    height: 90%;
    box-shadow:  -10px -18px 100px -40px #000;
}

.result{
    background: #ddd;
    margin-top: 10px;
    padding-top: -10px;
    padding:10px;
    border-radius: 4px;
    height: 30px;
    border: 1px solid #b8b8b6;
}
.qresult{
    background: #ddd;
    margin-top: 10px;
    padding-top: 2px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    border-radius: 4px;
    height: 50px;
    border: 1px solid #b8b8b6;
}
  
    .h1
    {
        display:block;
        color:#fa0; 
        font:28px Georgia; 
        font-weight:normal;
    
        margin-top:6px; 
        margin-left:12px; 
        margin-right:25px;

        text-shadow: -1px -1px #aaa;
    }

em      {color:#fff;}
strong  {color:#fea;}

article
    { 
        margin-left:5px; 
        margin-right:25px;
        padding-left:5px;
        padding-right:45px;
        width:250;
        margin:2px;
        padding:1px;
        vertical-align: left;
    }
    
input
    {
        margin:10px;
        border-radius: 4px;
    border: 1px solid #b8b8b6;
    box-shadow:  -5px -8px 200px -40px #000;
    margin: 1px;
    }
    

#footer{
    color: #333;
    background-color:#FFA500;
    clear:both;
    text-align:center;
    margin: 1px;
}

#content{
   
    background-color:#fff;
    float:inherit;
    height: 430px;
    padding: 15px;
    margin: 1px;
}




#content
{
    margin: 0;
    padding: 0;
    position: relative;
    height: 61px;
    width: 419px;
    left: 0px;
    top: 0px;
    background-image:  url("praeamble_h1.gif");
    background-repeat: no-repeat;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

   

    #content {
    margin: 0;
    padding: 0;
    background:  url("participation_bg.gif");
    position: absolute;
    left: 771px;
    top: 139px;
    width: 348px;
    height: 300px;
    overflow: auto;
    background-repeat: repeat;
    }